---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title" id="big-title">
     {% if site.title == "blank" %}<span class="font-weight-bold" >{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc" id="big-desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
      <div><img class="img-fluid z-depth-1" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" ></div>
        
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
          {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

<!-- EDUCATION -->
<br>
<h1 class="post-title">education</h1>
<div class="clearfix education">
  <p>University of Ottawa, 2020<br>
Honours B.Sc. in Computer Science, Data Science Option</p>
</div>


<!-- PROJECTS -->
<br>
<h1 class="post-title">projects</h1>
  <div class="projects">
    {% if site.enable_project_categories and page.display_categories %}
    <!-- Display categorized projects -->
      {% for category in page.display_categories %}
        <h2 class="category">{{category}}</h2>
        {% assign categorized_projects = site.projects | where: "category", category %}
        {% assign sorted_projects = categorized_projects | sort: "importance" %}
        <!-- Generate cards for each project -->
        {% if page.horizontal %}
          <div class="container">
            <div class="row row-cols-2">
            {% for project in sorted_projects %}
              {% include projects_horizontal.html %}
            {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="grid">
            {% for project in sorted_projects %}
              {% include projects.html %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}

    {% else %}
    <!-- Display projects without categories -->
      {% assign sorted_projects = site.projects | sort: "importance" %}
      <!-- Generate cards for each project -->
      {% if page.horizontal %}
        <div class="container">
          <div class="row row-cols-2">
          {% for project in sorted_projects %}
            {% include projects_horizontal.html %}
          {% endfor %}
          </div>
        </div>
      {% else %}
        <!-- <div class="grid"> -->
          {% for project in sorted_projects %}
            {% include projects.html %}
          {% endfor %}
        <!-- </div> -->
      {% endif %}

    {% endif %}

  </div>

  </article>

</div>

<!-- Default Statcounter code for my website https://aethelind.com/ -->
<script type="text/javascript">
var sc_project=12616623; 
var sc_invisible=1; 
var sc_security="d2cec273"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12616623/0/d2cec273/1/" alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->